.table-container {
  display: flex;
  justify-content: center;
  table {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.25;
    font-size: 14px;
    th {
      text-align: center;
    }
    tr {
      height: 50px;
      text-align: left;
      td {
        height: 100%;
        padding: 4px 6px
      }
    }
    .time-col {
      width: 100px;
    }
    .name-col {
      @media only screen and (max-width: 600px) {
        display: none;
      }
      max-width: 150px;
      font-weight: bold;
    }
    .amount-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      .in {
        svg {
          fill: #33691e !important;
        }
      }
      .out {
        svg {
          fill: #8b0000 !important;
        }
      }
    }
  }
}

.bp3-running-text table td, table.bp3-html-table td {
  color: #e7dbda !important;
}

.bp3-running-text table th, table.bp3-html-table th {
  color: #e7dbda !important;
}