
$blue1: #3d4a58 !default;
$blue2: #3d4a58 !default;
$blue3: #3d4a58 !default;
$blue4: #3d4a58 !default;
$blue5: #3d4a58 !default;

@import "~@blueprintjs/core/src/blueprint.scss";

html {
  div {
    font-family: 'Jura', sans-serif;
    color: #e7dbda;
  }
  svg {
    fill: #e7dbda !important;
  }
  background-color: #0f1318;
}

.App {
  text-align: center;
}

.bp3-drawer {
  background: $blue1 !important;
}

.bp3-heading {
  color: #e7dbda;
  font-family: 'Jura', sans-serif;
}

.bp3-navbar-group {
  cursor: pointer;
}

li {
  margin: 16px;
}
